<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>com.msf.ifsc.listeners.ApplicationContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>GetBankByIFSC</servlet-name>
		<servlet-class>com.msf.ifsc.services.GetBankDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBankByIFSC</servlet-name>
		<url-pattern>/get-bank</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAllBanks</servlet-name>
		<servlet-class>com.msf.ifsc.services.GetAllBanks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllBanks</servlet-name>
		<url-pattern>/get-all-banks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchBank</servlet-name>
		<servlet-class>com.msf.ifsc.services.SearchBank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBank</servlet-name>
		<url-pattern>/search-bank</url-pattern>
	</servlet-mapping>

</web-app>